<p>Monogram is a monospace bitmap font, free and <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank"><span class="link-fix">CC0</span></a>!</p>
<div class="custom-promo"><p>My new game made with monogram <span class="custom-promo-yellow">SOLAR KNIGHT</span> is up for <a href="https://apps.apple.com/us/app/solar-knight/id1487398263" target="_blank"><span class="link-fix">pre-order on the AppStore</span></a>! <em>Check it out!</em><br></p></div>
<hr>
<div class="custom-game-n-code">
<h2>GAME-READY</h2>
<div class="custom-paragraph">
<p>Monogram is available in TrueType, bitmap or as a <a href="https://www.lexaloffle.com/bbs/?tid=41544" target="_blank"><span class="link-fix">PICO-8 custom font</span></a>.</p>
<p>Just load it into your preferred game engine or framework and you're ready to go!</p>
</div>
<div class="custom-mockup">
<figure>
<img src="https://img.itch.zone/aW1nLzUzNzg4MjkucG5n/original/0KfYsr.png">
</figure>
</div>
</div>
<div class="custom-game-n-code">
<h2>FIT FOR CODING</h2>
<div class="custom-paragraph">
<p>The font is monospaced, compact and designed to be legible in small or large resolutions.</p>
<p>Use it in your IDE, terminal or <a href="https://transmutrix.itch.io/pq93" target="_blank"><span class="link-fix">fantasy console</span></a>!</p>
</div>
<div class="custom-mockup">
<figure>
<img src="https://img.itch.zone/aW1nLzUzNzg4MzIucG5n/original/Dunt3C.png">
</figure>
</div>
</div>
<div class="custom-game-n-code">
<h2>FORMATTED FOR YOU</h2>
<div class="custom-paragraph">
<p>Available in many formats/variants, from a minimal 10 kB version to a <em>fully-fledged italics subfamily.</em></p>
<p>Need even more variety? Check out one <a href="https://frostyfreeze.itch.io/pixel-bitmap-fonts-png-xml" target="_blank" title="minogram 6x10"><span class="link-fix">of¹</span></a> <a href="https://roseumteam.itch.io/monogram-gbs" target="_blank" title="monogram-gbs"><span class="link-fix">our²</span></a> <a href="https://crabaret.itch.io/8x8-fonts-for-playdate-pulp" target="_blank" title="monogram for playdate"><span class="link-fix">many³</span></a> <a href="https://dmitriy-shmilo.itch.io/monogram-ua" target="_blank" title="monogram-ua"><span class="link-fix">forks⁴</span></a>!</p>
</div>
<div class="custom-mockup">
<figure>
<img src="https://img.itch.zone/aW1nLzE1NjYxOTExLnBuZw==/original/im9Zj1.png">
</figure>
</div>
</div>
<hr>
<p>made with monogram:</p>
<div class="custom-madewith">
 <a href="https://transmutrix.itch.io/pq93" target="_blank">
 <div class="custom-madewith-thumb">
  <img src="https://img.itch.zone/aW1nLzUzOTI0NTAucG5n/original/DBevRm.png">
  <div class="custom-madewith-anim">
   <p class="custom-madewith-title">PQ93</p>
   <p class="custom-madewith-author">by Charlie Dean</p>
   <img src="https://img.itch.zone/aW1nLzU0MjQxMTcuZ2lm/original/G56zGA.gif">
  </div>
 </div>
 </a>
 <a href="https://adszads.itch.io/detached" target="_blank">
 <div class="custom-madewith-thumb">
  <img src="https://img.itch.zone/aW1nLzUzOTI0NTIucG5n/original/I%2B7HZw.png">
  <div class="custom-madewith-anim">
   <p class="custom-madewith-title">Detached</p>
   <p class="custom-madewith-author">by adszads</p>
   <img src="https://img.itch.zone/aW1nLzU0MjM2NTkuZ2lm/original/pXEjrH.gif">
  </div>
 </div>
 </a>
 <a href="https://somfunambulist.itch.io/crystal-clear-engine" target="_blank">
 <div class="custom-madewith-thumb">
  <img src="https://img.itch.zone/aW1nLzU0MjM2NjgucG5n/original/Dc0u2V.png">
  <div class="custom-madewith-anim">
   <p class="custom-madewith-title">Crystal Clear Engine</p>
   <p class="custom-madewith-author">by Cool Bug Games</p>
   <img src="https://img.itch.zone/aW1nLzUzOTMwODUuZ2lm/original/oRmxhZ.gif">
  </div>
 </div>
 </a>
 <a href="https://itch.io/c/1429599/made-with-monogram" target="_blank">
 <div class="custom-madewith-thumb custom-madewith-more">
  <p>view more!</p>
 </div>
 </a>
</div>
<hr>
<p>technical details:</p>
<div class="custom-tech-details">
<img src="https://img.itch.zone/aW1nLzU0Nzg5OTQucG5n/original/xy7Yhg.png">
<img src="https://img.itch.zone/aW1nLzU0Nzg5OTUucG5n/original/k28qQM.png">
<img src="https://img.itch.zone/aW1nLzU0NzkwMDEucG5n/original/HGWuV0.png">
</div>
<p>charsets: english, español, русский, português, ελληνικά&hellip; <br><em>&hellip;and more!</em></p>