@font-face {
 font-family: 'monogram';
 src: url("https://menez.io/css/font/monogram-extended.ttf") format('truetype');
 font-weight: bold;
 font-style: normal;
}
@font-face {
 font-family: 'monogram';
 src: url("https://menez.io/css/font/monogram-extended-italic.ttf") format('truetype');
 font-weight: bold;
 font-style: italic;
}
@media (min-resolution: 144dpi) {
 #wrapper {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
 }
}

#wrapper {
 max-width: 760px;
 margin: 0 auto;
}

#wrapper ul li {
 list-style-type: "• ";
 line-height: 32px;
}

#wrapper
ul.blog_post_list_widget {
 list-style: none;
 max-width: 90%;
 margin: 0 auto;
 padding: 0;
}

#wrapper 
ul.blog_post_list_widget li {
 list-style: none;
 margin-bottom: 35px;
 line-height: 1.25;
}

#wrapper #inner_column {
 font-family: "monogram", monospace;
 font-size: 32px;

 font-smooth: never;
 -webkit-font-smoothing: none;
 font-synthesis: none;
 filter: contrast(1);

 text-align: center;
}

#wrapper .header{
 position: relative;
 margin-top: 24px;
}

#wrapper .embed_wrapper {
 width: 498px;
 margin: 0 auto;
 padding-bottom: 4px;
}

#wrapper .embed_wrapper:after {
 position:absolute;
 width: 226px;
 top: 140px;
 margin-left: 14px;
 content: url('https://i.imgur.com/pBidUIO.png');
}

#wrapper .game_frame {
 margin: 0;
 border: 4px solid #1d2b53;
 border-radius: 2px;
 box-shadow: 4px 4px #c2c3c7;
}

#wrapper .game_frame iframe {
 background: #1d2b53;
}

#wrapper div.donate,
#wrapper div.button_message,
#wrapper div.buttons { 
 line-height: 0;
}

#wrapper a {
 text-decoration: none;
}

#wrapper a:hover {
 background: #dfdfe5;
}

#wrapper #inner_column p a:not(.custom-button) {
 border-bottom: solid 2px #ff77a8;
 padding-top: 6px;
 font-size: 50%;
 text-shadow: 2px 0px 0px #eee, -2px 0px 0px #eee;
}

#wrapper #inner_column p a > span { 
 font-size: 200%;
}

#wrapper #inner_column p span > a { 
 font-size: 200%; line-height: normal;
}

#wrapper #inner_column p.breadcrumbs a {
 font-size: 100%;
 border: none;
}

#wrapper #inner_column p.breadcrumbs a > span {
 font-size: 100%;
 text-decoration: none;
}

#wrapper #inner_column .post_grid p a {
 font-size: 100%;
 border: none;
}

#wrapper #inner_column p a:not(.custom-button):hover {
 text-shadow: 2px 0px 0px #dfdfe5, -2px 0px 0px #dfdfe5;
}

#wrapper #inner_column p {
 line-height: 30px;
 margin: 0 0 26px;
}

#wrapper
#inner_column
.formatted_description>p:first-of-type {
 max-width: 320px;
 margin: 0 auto 40px;
}

#wrapper h1, h2 {
 font-size: 32px;
}

#wrapper .right_col .screenshot_list {
 display: none;
}

#wrapper #download,
#wrapper section.game_download
h2 {
 display:none;
}

#wrapper
.custom-gray {
 color: #999;
}

#wrapper
.custom-promo-yellow {
 color: #fb0;
 background: #44a;
 padding: 0 6px 2px;
}

#wrapper
#inner_column
.custom-promo:before {
 content: "new!";

 position: absolute;
 top: -10px;
 left: -10px;
 padding: 2px 18px 6px 24px;

 color: white;
 background: #ff004d;
 box-shadow: 6px 6px 0 #bbb;

 outline: 2px solid #ff004d;
 border: 2px solid white;

 line-height: 0.5;

 animation:
  bounce 8s infinite;
}

@keyframes bounce {
 0% {
  transform:
   translateY(0);
 }
 1.00% {
   transform:
    translateY(-19px);
 }
 1.50% {
   transform:
    translateY(-20px);
 }
 2.00% {
   transform:
    translateY(-19px);
 }

 3.00% {
   transform:
    translateY(0px)
    rotate(-0.04turn);
 }

 4.00% {
   transform:
    translateY(-11px);
 }
 4.20% {
   transform:
    translateY(-12px);
 }
 4.40% {
   transform:
    translateY(-11px)
    rotate(0.04turn);
 }

 5.40% {
   transform:
    translateY(0);
 }

 5.90% {
   transform:
    translateY(-4px);
 }

 6.40% {
   transform:
    translateY(0px)
    rotate(0);
 }

 100% {
  transform:
   translateY(0);
 }
}

#wrapper
#inner_column
.custom-promo {
 position: relative;
 text-wrap: balance;

 padding: 24px 10px;
 
 background:
  linear-gradient(
   90deg,
   #bbb 50%,
   transparent 50%
  ),
  linear-gradient(
   90deg,
   #bbb 50%,
   transparent 50%
  ),
  linear-gradient(
   0deg,
   #bbb 50%,
   transparent 50%
  ),
  linear-gradient(
   0deg,
   #bbb 50%,
   transparent 50%
  );

 background-repeat:
  repeat-x,
  repeat-x,
  repeat-y,
  repeat-y;


 background-size:
  15px 4px,
  15px 4px,
  4px 15px,
  4px 15px;
 background-position:
  left top,
  right bottom,
  left bottom,'
  right top;

 animation: border-spin 1s infinite linear;

 border-radius: 2px;
}

#wrapper
#inner_column
.custom-promo
p {
 margin:0
}

@keyframes border-spin {
 0% {
  background-position:
   left top,
   right bottom,
   left bottom,
   right top;
 }

 100% {
  background-position:
   left 15px top,
   right 15px bottom,
   left bottom 15px,
   right top 15px;
 }
}

#wrapper
.custom-game-n-code {
 display: grid;
 grid-template-columns: .6fr .4fr;
 grid-template-rows: auto 1fr;
 row-gap: 8px;
 column-gap: 20px;
}

#wrapper
.custom-game-n-code:not(:last-of-type) {
 margin-bottom: 40px;
}

#wrapper
.custom-game-n-code
h2 {
 text-align: initial;
 margin: 0;
}

#wrapper
.custom-paragraph {
 grid-column-start: 1;
 grid-row-start: 2;
}

#wrapper
.custom-mockup {
 grid-row-end: span 2;
}

#wrapper
#inner_column
.custom-game-n-code
p{
 text-align: initial;
 margin: 20px 0 0;
}

#wrapper
.custom-game-n-code
figure {
 margin: 0;
}

#wrapper .custom-button {
 position: relative;
 user-select: none;
 box-sizing: border-box;
 display: inline-block;
 cursor: pointer;
 text-align: center;
 font-weight: bold;
 height: 35px;
 min-width: 75px;
}

#wrapper .button,
#wrapper .custom-button {
 font-family: "monogram", monospace;
 font-size: 32px;
 background-color: #ff77a8;
 color: #ffffff;
 line-height: 30px;
 padding: 0 10px 0 12px;
 text-transform: lowercase;
 text-shadow: none;
 box-shadow: 2px 2px #1d2b53;
 border: 0;
 border-radius: 0;
}

#wrapper .button:hover,
#wrapper .custom-button:hover {
 background: #f8b;
}

#wrapper .button:active,
#wrapper .custom-button:active {
 background: #d48;
 top: 2px;
 left: 2px;
 box-shadow: none;
}

#wrapper 
.button.small {
 line-height: 28px;
}

#wrapper
.custom-madewith {
 display: inline-grid;
 grid-template-columns: repeat(2, 1fr);
 row-gap: 25px;
 column-gap: 20px;
}

#wrapper
.custom-madewith-thumb {
 position: relative;
 overflow: hidden;
 border-radius: 6px;
 box-shadow: 0px 2px 6px rgba(0,0,0,.3);
}

#wrapper
.custom-madewith-thumb img{
 display: block;
 image-rendering: auto;
}

#wrapper .custom-madewith-thumb:hover>.custom-madewith-anim { 
 opacity: 100%;
}

#wrapper
.custom-madewith-anim {
 position: absolute;
 top: -8px;
 left: 0;
 opacity: 0;
 width: 100%;
 height: 100%;

 transition: opacity 0.1s ease-in-out;
}

#wrapper
.custom-madewith-anim
img {
 position: sticky;
 left: 0;
 right: 0;
 top: -42px;
 bottom: 0;
 width: 100%;
 height: auto;
 z-index: 0;
}

#wrapper
#inner_column
.custom-madewith-anim p {
 position: relative;
 top: 12px;
 margin: -4px 8px;
 z-index: 1;
 text-shadow: 0px 2px black;

 text-align: left;
}

#wrapper 
.custom-madewith-title {
 color: #ffa300;
}

#wrapper 
.custom-madewith-author {
 color: #fff1e8;
}

#wrapper 
.custom-madewith p {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

#wrapper
.custom-madewith-anim:after {
 content:'';
 position:absolute;
 left: 0; 
 top: 0;
 width: 100%; 
 height: calc(100% + 8px);
 display:inline-block;
 background: 
  linear-gradient(
   rgba(0,0,0,1) 0%,
   rgba(0,0,0,0) 40%
  ),
  linear-gradient(
   rgba(0,0,0,.5) 0%,
   rgba(0,0,0,0) 40%
  ),
  linear-gradient(
   rgba(0,0,0,.1) 0%,
   rgba(0,0,0,.1) 40%
  );
}

#wrapper
.custom-madewith-more {
 display: flex;
 justify-content: center;
 align-content: center;
 flex-direction: column;
 box-sizing: border-box;

 height: 100%;
 box-shadow: none;
 border: 4px dashed #c2c3c7;
 padding-top: 20px;
}

#wrapper hr {
 height: 2px;
 max-width: 320px;
 margin: 40px auto;
}

#wrapper 
.game_info_panel_widget {
 margin: 0 auto;
 padding: 0 14px;
 background: #e2e2e2;
 border-radius: 4px;
 line-height: 28px;
}

#wrapper 
.game_info_panel_widget
table {
 display: block;
 overflow: auto;
 max-width: 100%;
}

#wrapper 
.game_info_panel_widget
td {
 vertical-align: top;
 text-transform: lowercase;
}

#wrapper 
.game_info_panel_widget
td:not(:first-child) { 
 display: flex;
 flex-wrap: wrap;
 min-width: 320px;
}

#wrapper 
.game_info_panel_widget
td:first-child {
 font-size: 100%;
 color: rgba(29, 43, 83, 0.5);
}

#wrapper 
.game_info_panel_widget td
a:not(:only-child)::before {
 content: " ";
 white-space: pre-wrap;
}

#wrapper 
.game_info_panel_widget
td a:only-child {
 text-wrap: balance;
 margin-left: 1ch;
}

#wrapper 
.game_info_panel_widget
td:has(a) {
 margin-left: -1ch;
}

#wrapper 
.game_info_panel_widget
.star_value .star {
 vertical-align: middle;
}

#wrapper 
.game_info_panel_widget
.rating_count {
 font-size: 32px;
 opacity: 0.25;
}

#wrapper
.icon.icon-stopwatch {
 display: none;
}

#wrapper
.upload_date,
#wrapper
.post_date {
 margin-top: 0;
 font-size: 100%;
 text-transform: lowercase;
}

#wrapper
.custom-tech-details {
 display: inline-grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 52px;
 margin: 20px 0 32px;
}

#wrapper .uploads>p {
 visibility:hidden;
}

#wrapper .uploads>p:after {
 visibility: visible;
 content: 'files you get:';
 position:absolute;
 left: 0;
 width: 100%;
}

#wrapper
.view_game_page
.game_devlog ul {
 margin: 6px;
}

#wrapper
.view_game_page
.upload_list_widget {
 display: grid;
 grid-template-columns: 1fr 1fr;
 row-gap: 12px;
 column-gap: 12px;
 margin-left: 8px;
 margin-right: 8px;
}

#wrapper
.upload .build_row {
 display: none;
}

#wrapper
.upload:first-child {
 grid-column: 1 / -1;
 position:relative;
 margin-bottom: 24px;
}

#wrapper
.upload .info_column .upload_name {
 margin-bottom:0;
}

#wrapper
.upload:first-child:after {
 position:absolute;
 left: 0;
 top: 24px;
 content: 'containing:';
 line-height: 38px;
 opacity: 0.4;
 width: 100%;
}

#wrapper
.upload:not(:first-child) {
 border: 4px solid #c2c3c7;
 border-radius: 2px;
 margin-bottom: 0;
}

#wrapper
.upload:not(:first-child)
.upload_name {
 display: grid;
 grid-template-columns: repeat(1, 1fr);
}

#wrapper
.view_game_page
.upload_name .name {
 padding:0 4px;
}

#wrapper
.upload:not(:first-child)
.upload_name .file_size{
 margin-top: -8px;
 margin-left: 0;
}

#wrapper
.upload_name .file_size:before {
 content: '(';
}

#wrapper
.upload_name .file_size:after{
 content: ')';
}

#wrapper
.upload_list_widget
.upload
.upload_name > * {
 line-height: 38px;
}

#wrapper
#inner_column
.form_placeholder {
 max-width: 90%;
 margin-left: auto;
 margin-right: auto;
}

#wrapper
#inner_column
p.form_placeholder > a {
 font-size: 32px;
 border: none;
}

#wrapper
.game_comments_widget div {
 text-align: initial;
 font-size: 32px;
}

#wrapper
.game_comments_widget
.redactor-layer {
 _overflow-wrap: break-word;
}

#wrapper
.game_comments_widget h2{
 text-align:center;
 margin-top: 60px;
}

#wrapper
.game_comments_widget
.post_form {
 margin-bottom: 10px;
}

#wrapper
.game_comments_widget
.post_form,
#wrapper
.game_comments_widget
.post_body {
 max-width: 100%;
}

#wrapper
.game_comments_widget
.post_form
.click_input {
}

#wrapper .game_comments_widget pre,
#wrapper .game_comments_widget pre code {
 font-family: "monogram", monospace;
 font-size: 16pt;
}

#wrapper
.game_comments_widget
.reveal_full_post_btn {
 font-family: "monogram", monospace;
 font-size: 32px;
 text-transform: lowercase;
 
 max-width: 100%;
 height: 80px;
}

#wrapper
.game_comments_widget
.post_votes {
 border: none;
}

#wrapper
.game_comments_widget
.post_grid {
 grid-template-columns: 26px 30px 1fr;
}

#wrapper
.game_comments_widget
.post_content {
 margin-right: 16px;
}

#wrapper
.game_comments_widget
.community_post
.post_header {
 flex-wrap: wrap;
 line-height: 28px;
 margin-top: 4px;
}

#wrapper
.game_comments_widget
.post_avatar {
 border: 2px solid white;
 box-shadow: 2px 2px 0 #c2c3c7;
 image-rendering: auto;
}

#wrapper
.game_comments_widget
.community_post
.post_footer {
 flex-wrap: wrap;
 line-height: 28px;
 margin-top: 0px;
 margin-bottom: 16px;
 gap: 16px;
}

#wrapper
.game_comments_widget
.community_post:has(.post_author a[href*="profile/datagoblin"]) {
 border: dashed 2px #d3d3d3;
 border-radius: 4px;
}

#wrapper
.game_comments_widget
.community_post
.post_author a {
 display: flex;
 flex-wrap: wrap;
 gap: 6px;
}

#wrapper
.game_comments_widget
.community_post
.post_author a[href*="profile/datagoblin"]:after {
 content: "dev";
 display: inline-block;
 padding: 0px 10px 3px;
 line-height: 22px;
 color: #ffa300;
 background: #065ab5;
 box-shadow: 2px 2px 0 #111d35;
 border-radius: 20px;
}

#wrapper
.game_comments_widget
.community_post
.upvotes {
 color: #29adff;
}

#wrapper
.game_comments_widget
.community_post
.downvotes{
 color: #bbaacc;
}

#wrapper .header:has(+ .view_game_page):after{
 content: '';
 position: absolute;
 width: 20px;
 height: 40px;
 background: #1d2b53;
 top: 50%;
 left:50%;
 transform:translate(-100px, 16px);
 box-shadow: 4px 4px #c2c3c7;
}

#wrapper
.game_devlog_page
.devlog {
 text-align: initial;
}

#wrapper
.game_devlog_post_page
.post_image {
 max-width: 90%;
 margin: auto;
}

#wrapper
.game_devlog_page
.devlog .title {
 font-size: 100%;
 color: #fff1e8;
 background: #ff77a8;
 display: block;
 padding: 0 16px;
 border-radius: 4px;
 margin-bottom: 10px;
}

#wrapper
.game_devlog_page
.devlog .title:hover {
 filter: brightness(1.25);
}

#wrapper
.game_devlog_page
.meta_row {
 display: block;
 color: #888;
 opacity: 1;
 line-height: 1;
}

#wrapper
.game_devlog_page
.meta_row .tags {
 display: block;
 line-height: 1;
}

#wrapper
.game_devlog_page
.meta_row .post_likes {
 font-size: inherit;
 padding: 0px 8px;
 margin-left: 6px;
 border: 2px solid #cdcdcd;
}

#wrapper
.game_devlog_page
.meta_row a {
 color: #ff77a8;
}

#wrapper
.game_devlog_page
.split_content {
 gap: 10px;
}

#wrapper
.game_devlog_page
.devlog .summary,
#wrapper
.game_devlog_page
.devlog .summary_text
{
 line-height: 1;
 margin: 20px 0;
}

#wrapper
.game_devlog_page
.devlog .post_image
{
 object-fit: cover;
 height: 120px;
 aspect-ratio: 1;
 object-position: left;
 image-rendering: auto;
 border-radius: 4px;
 box-shadow: 2px 2px 0 #999;
}

#wrapper
.game_devlog_post_page {
 text-align: initial;
}

#wrapper
.game_devlog_post_page .post_header {
 background: #e5e5e5
}

#wrapper 
.game_devlog_post_page 
.post_meta {
 padding: 0 12px;
}

#wrapper
.game_devlog_post_page .post_header {
 border-radius: 4px;
}

#wrapper
.game_devlog_post_page .post_header h1 {
 background: #1d2b53;
 color: #fff1e8;
 padding: 0 12px 6px 12px;
 border-radius: 4px 4px 0 0;
}

#wrapper
.game_devlog_post_page 
.breadcrumbs {
 text-transform: lowercase;
 padding: 0 12px;
 line-height: 20px;
 color: #aaa;
}

#wrapper
.game_devlog_post_page 
.breadcrumbs,
#wrapper 
.game_devlog_post_page 
.post_meta {
 font-size: 100%;
}

#wrapper
.game_devlog_post_page .game_metadata {
 display: none;
}

#wrapper 
.game_devlog_post_page 
.post_like_button {
 padding: 0 8px;
}

#wrapper 
.game_devlog_post_page 
.post_social {
 margin-top: 0;
 text-align: right;
 text-transform: lowercase;
 color: #aaa;
}

#wrapper 
.game_devlog_post_page 
.post_social
.simple_social_buttons_widget {
 margin-left: -6px;
}

#wrapper
.like_button_drop
.post_like_button {
 box-shadow: inset 0 0 0 2px #c7c7c7;
}

#wrapper
.like_button_drop
.icon-heart.icon {
 position: relative;
 font-size: 16px;
 bottom: 1px;
}

#wrapper
.icon-heart-filled.icon {
 position: relative;
 font-size: 16px;
 top: 1px;
}

#wrapper
.like_button_drop {
 bottom: 2px;
 position: relative;
}

#wrapper
.like_button_drop
.button {
  height: 30px;
  margin: 8px 2px 10px 0px;
}

#wrapper
.game_devlog_post_page 
span.likes_count {
 padding: 0 3px 0 10px;
 font-size: 100%;
 color: #aaa;
}

#wrapper
.game_devlog_post_page .post_header
hr {
 display: none;
}

#wrapper
.game_devlog_post_page .post_header
.post_social
.icon {
 font-size: 20px;
}

#wrapper 
.game_devlog_post_page 
.post_files {
 background: #ddd;
 display: flex;
 border-radius: 4px;
 max-width: fit-content;
 overflow: auto;
 padding-right: 12px;
 padding-bottom: 4px;
}

#wrapper 
.game_devlog_post_page 
.post_files h2 {
 margin: 0 24px 0 16px;
 text-transform: lowercase;
}

#wrapper 
.game_devlog_post_page 
.post_files h2::after {
 content: ":"
}

#wrapper 
.game_devlog_post_page 
.post_files .upload
.upload_date {
 margin: 0 24px 12px 12px;
 line-height: 16px;
 text-transform: lowercase;
}

#wrapper
.game_devlog_post_page
.upload:first-child::after {
 content: '';
}

#wrapper
.game_devlog_post_page
.upload {
 border: none;
 margin-bottom: 0;
}

#wrapper
.game_devlog_post_page
.upload .upload_name {
 display: inline-flex;
}

#wrapper
.game_devlog_post_page
.upload .upload_name
.file_size {
 margin-left: 10px;
 margin-top: 0;
}

@media only screen and (max-width: 1000px) {
 #wrapper .header:after{
  content: none;
  width: 0;
  height: 0;
 }

 #wrapper
 .embed_wrapper,
 #wrapper .header:has(+ .view_game_page)::after {
  display: none;
 }

 #wrapper .custom-tech-details {
  grid-template-columns: 1fr 1fr 1fr;
 display: grid;
 column-gap: 8px;
 }

 #wrapper
 .custom-game-n-code {
  grid-template-columns: 1fr;
 }
 
 #wrapper
 .custom-game-n-code
 h2 {
  text-align: center;
  margin: 0 0 20px;
 }
 
 #wrapper
 .custom-paragraph {
  grid-row-start: 3;
 }

 #wrapper
 .custom-mockup {
  grid-row-start: 2;
  grid-row-end: 2;
 }

 #wrapper
 #inner_column
 .custom-game-n-code
 p{
  text-align: initial;
  margin: 20px 0 0;
 }

 #wrapper
 .view_game_page
 .upload_list_widget {
  grid-template-columns: 1fr;
 }

 #wrapper
 .game_comments_widget
 h2 {
  margin-top: 48px;
 }

 #wrapper
 .buy_message {
  display: none;
 }
}

.user_formatted a[rel~="nofollow"]:hover::after, .user_formatted a[rel~="nofollow"]:focus::after {
 content: '▢🡕';
 top: -100%;
 left: auto;
 transform: translate(2px, 12px);
 margin-top: -2px;
 padding: 1.5px 19px 3px 2px;
 
 font-size: 20px;
 line-height: 16px;
 letter-spacing: -16px;
 
 color: #fff;
 background-color: #aab;
 text-shadow: -1px -1px 0 #999, 1px -1px 0 #999, -1px 1px 0 #999, 1px 1px 0 #999;
 -webkit-text-stroke: .5px #bbc;
}